/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* 10px of 16px (browser's font size) 1rem = 10px  */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    margin-top: 11.5rem;
    background-color:  #f0ebe8;
    color: #201A1E;
}

h1, h2, h3, h4 {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.08em;
}

h2 {
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 0.75em;
}

li { list-style-type: none; }
a { text-decoration: none; }

.section-container {
    padding: 1.5em 0;
    margin: 0 auto;
}

.link-txt {
    color: #660646;
    font-weight: 600;
}

.link-txt:hover {
    color: #ad5410;
}

/* Buttons */
.btn-primary {
    background-color: rgba(207, 152, 110, .6);
    color: #201A1E;
    font-weight: 600;
    border-color: rgba(207, 152, 110, .6);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    background-color: #fff;
    color: #cf986e;
    font-weight: 600;
    border-color: #cf986e;
}

.btn-primary:not(:disabled):not(.disabled):active {
    -webkit-box-shadow: 0 0 0 .2rem rgba(209, 127, 64, .5);
            box-shadow: 0 0 0 .2rem rgba(209, 127, 64, .5);
    background-color: #cf986e;
    color: #fff;
    border-color: #cf986e;
}

.btn-outline-primary {
    background-color: #fff;
    color: #ad6127;
    font-weight: 900;
    border-color: #ad6127;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outlind-primary.focus {
    background-color: #ad6127;
    color: #fff;
    border: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    -webkit-box-shadow: 0 0 0 .2rem rgba(209, 127, 64, .5);
            box-shadow: 0 0 0 .2rem rgba(209, 127, 64, .5);
    background-color: #fff;
    color:  #ad6127;
    border-color: #ad6127;
}

.btn-secondary {
    background-color: #e4b795; 
    color: #201A1E;
    border: none;
    padding: .75em 1em;
    font-weight: 600;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
    background-color: #201A1E;
    color: #e4b795;
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    -webkit-box-shadow: 0 0 0 .2rem rgba(209, 127, 64, .5);
            box-shadow: 0 0 0 .2rem rgba(209, 127, 64, .5);
    background-color: #e4b795;
    color:  #201A1E;
    border: none;
}

.btn-danger {
    background-color: #c7360a;
    border-color: #c7360a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus  {
    background-color: #fff;
    color: #c7360a;
    font-weight: 600;
    border-color: #c7360a;
}

.btn--more {
    color: #201A1E;
    float: right;
}

/* Alerts */
.alert {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #000;
}

.alert-success {
    border: 1px solid #157b2c;
}

.alert-danger {
    border: 1px solid #a82b39;
}

.alert-dismissible .close {
    font-size: 2.5rem;
    padding-bottom: .75rem;
}

/* Cards */

/* Signup, Login, Logout */
.user-card {
    padding: 3em 1.5em;
}

/* Appointments */
.form--app-card {
    padding: 2em 1em;
    border: .75px solid #ce7f43;
}

.app-card {
    border: 2px solid #ce7f43;
}

.app-card .card-title {
    background-color: #D0B49F;
    font-weight: 700;
    padding: 1em 2em;
}

.app-card .card-details {
    padding: 1.2em 1.75em .25em;
}

.app-card .card-footer {
    background-color: transparent;
    border-top: 1px solid #e0b49f;
    padding: 1em 2em .5em;
}

/* Forms */
.form-control {
    font-size: 1.6rem;
}

.form-group .form-check-label {
    padding-left: .5em;
}

.no-profile {
    background-color: rgba(208, 180, 159, .6);
    border: 4px dashed rgba(209, 138, 84, 0.9);
    border-radius: 5px;
    padding: 1.5em 2em;
}

/* ----------- */
/*  Navigation */
/* ----------- */

.navbar {
    background-color: #e2e6e7;
}

.navbar-toggler {
    border: none;
    margin-right: 1em;
}

.navbar-collapse {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(77, 21, 58);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(77, 21, 58, .6);
}

.navbar-nav .active {
    font-weight: 600;
} 

/* -------- */
/*   Hero   */
/* -------- */

.cta-container {
    background-size: cover;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
}

.hero-img {
    height: 60vh;
    background: url("https://res.cloudinary.com/aperlae/image/upload/c_scale,w_2000/v1674513454/tailors-thimble-images/heng-films-mpdIPhYqZ4Y-unsplash_wdhii5.webp") no-repeat top center fixed;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron {
    max-width: 27rem;
    background-color: transparent;
    margin-bottom: 3rem;
}

.lead {
    font-size: 1.2em;
    line-height: 1.2;
}

/* About & Services Pages CTA */
.cta--about-img {
    height: 35vh;
    background: url("https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677706773/tailors-thimble-images/about-cta1_ajfd1a.webp") no-repeat center center;
}

.cta-txt {
    margin-top: 3rem;
}

/* --------- */
/*   About   */
/* --------- */

.about-img {
    width: 100%;
}

/* BESPOKE PROCESS */
.list-group-item {
    padding: 0.5rem 1.25rem;
    background-color: transparent;
}

.list-group-item:hover {
    background-color:  #E4D4C8;
}

.list-group-item.active {
    background-color: #201A1E;
    border: none;
    color: #E2E6E7;
}

.process-img {
    width: 100%;
    border-radius: 5px;
}

.process-txt {
    line-height: 1.2;
    margin-top: 1rem;
}

/* ---------- */
/*  Services  */
/* ---------- */

/* OUR SERVICES */
.service-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.service-caption {
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.highlight {
    max-width: 50rem;
    background-color: #D0B49F;
    border: 1px solid #d48140;
    font-weight: 600;
    padding: 2rem;
    margin: 0 auto;
}

/* ----------- */
/*    Footer   */
/* ----------- */

/* adapted from Responsive Bootstrap Footer by idesignSMF https://tinyurl.com/3wrta8p5 */
footer {
    padding: 1.5em 0.75em 1em;
    color: #f0f9ff;
    background-color: #282d32;
    text-align: center;
}

footer .item {
    padding: 0;
    margin-bottom: 1.25em;
}

footer h3 {
    margin-bottom: 0.5em;
    font-weight: 700;
} 

footer .table {
    max-width: 27em;
    font-size: 1.4rem;
}

footer .text {
    opacity: 0.6;
    padding: 0;
    margin: 0;
}

footer ul {
    padding: 0;
    line-height: 1.6;
    margin-bottom: 0;
}
  
footer ul a {
    color: inherit;
    opacity: 0.6;
}
  
footer ul a:hover {
    opacity: 1;
    color: #fff;
}

footer .item.social > a {
    font-size: 1.6rem;
    width: 2em;
    height: 2em;
    line-height: 2em;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow:0 0 0 1px rgba(255,255,255,0.4);
            box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 .5em; 
    color: #fff;
    opacity: 0.65;
}
  
footer .item.social > a:hover {
    opacity: 1;
}
  
footer .copyright {
    padding-top: 1rem;
    opacity: 0.65;
    font-size: 1.4rem;
    margin-bottom: 0;
}

footer .copyright a {
    color: inherit;
}

footer .copyright a:hover {
    color: #fff;
    opacity: 1;
}


/* ------------- */
/* Media Queries */
/* ------------- */

@media only screen and (min-width: 768px) {
    
    /* HOME PAGE */    

    /* Our Philosophy */
    .art-1 {
        max-width: 70%;
        margin: 1em auto;
    }

    /* Established 1977 */
    .art-2 {
        max-width: 80%;
        margin: 1.5em auto;
    }

    /* SERVICES */

    .services-container {
        margin-bottom: 1em;
    }

    /* FOOTER */

    footer .d-flex {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media only screen and (min-width: 1024px) {

    /* ABOUT */

    .process-img {
        width: 90%;
    }

    /* SERVICES */
    
    .service-caption {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1440px) {

    /* SERVICES */

    .services-container {
        margin-left: 2em;
    }
}
@media only screen and (min-width: 2560px) {

    html {
        font-size: 100%;
    }
}