{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mb-4">
  <div class="row">
    <div class="col-md-8 col-lg-6 mt-4 offset-md-2">
      <h1>{% trans "Sign Up" %}</h1>
      <p class="border-bottom mb-3">We are delighted to welcome you to Tailor's Thimble!<br>
        Please fill in the registration form below before booking your
        <strong>free</strong> consultation with our Master Tailor
      </p>
      <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <fieldset class="form-group">
              {{ form|crispy }}
            </fieldset>
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary mb-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
          <small class="border-top">{% blocktrans %}If you already have an account, please 
            <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
