{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container section-container">
    <div class="col-md-10 col-lg-8 m-auto">
        <div class="card rounded shadow">
            <div class="card-header text-center border-bottom">
                <img class="img-fluid rounded"
                    src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678129577/tailors-thimble-images/profile-silk_vehyro.webp" 
                    alt="Golden brown silk fabric">
                <h2>{{ user.username }}'s Profile</h2>
                <div class="d-flex justify-content-center">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <p>{{ user.email }}</p>
                <p class="text-center small col-lg-10 m-auto">In order to facilitate your appointments, we require some
                    information about your occasion. Please update your profile before proceeding 
                    to book a consultation.
                </p>
            </div>
            <div class="col-md-8 col-lg-6 mt-2 offset-md-2 offset-lg-3">
                <form method="POST" class="card-body">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ profile_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-lg btn-outline-primary shadow-sm" type="submit">Update</button>
                    </div>
                </form>
            </div>                
        </div>
        <div class="text-center mt-3 mb-4">
            <a class="btn btn-lg btn-primary shadow" role="button" href="{% url 'appointments' %}">Appointments</a>
        </div>  
    </div>
</div>

{% endblock content%}