{% extends 'base.html' %}
{% block content %}
<div class="container section-container">
    <div class="row">
        <div class="col col-lg-12">
            <h1 class="text-center">About the Master Tailor</h1>
        </div>
        <div class="col-lg-10 m-auto d-md-flex justify-content-between align-items-center">
            <div class="col-md-6 mt-4">
                <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678127048/tailors-thimble-images/about-tailor_r0wfhk.webp"
                    alt="Younger Joe at the sewing machine" class="about-img img-fluid m-auto rounded">
            </div>
            <div class="col-md-6 mt-4 text-center text-md-left">
                <p>The story of Tailor's Thimble began over 50 years ago,
                    when founder Joe Gamberini became a tailor's apprentice
                    to his uncle. Their weeks started with a visit to the 
                    local fabric traders, sparking a lifelong passion in Joe 
                    for sourcing the finest materials for his tailoring.
                </p>
                <p>By the age of 17, Joe had ventured into running his own 
                    tailoring business, founding Tailor's Thimble in 1977.
                    Joe had developed a keen attention to detail in his work, 
                    from his sourcing of material through every stage of clothing
                    design and crafting. 
                </p>
                <p>Detail is key; this is a rule that has helped Tailor's Thimble
                    stand the test of time in both design and service for over
                    50 years. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container cta-container cta--about-img mt-4 mb-4">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col">
            <div class="cta-txt">
                <div class="container text-light text-center">
                    <h2 class="mb-4">The Perfect Fit</h1>
                    <p class="lead mb-3">For all your occasions</p>
                        <a class="btn btn-lg btn-secondary mt-3" role="button" href="{% url 'appointments' %}">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}