{% extends 'base.html' %}
{% block content %}
<div class="container section-container">
    <div class="text-center col-sm-12 col-md-10 col-lg-8 m-auto">
        <h1>Our Services</h1>
        <p>All our garments are uniquely tailored for your precise measurements, 
            lifestyle and personality.  We cater for all occasions and for 
            both male and female clientele.
        </p>
    </div>
    <div class="section-container">
        <div class="services-container">
            <div class="col-sm-12 col-md-10 d-md-flex m-auto">
                <div class="d-flex align-items-center d-md-block">
                    <div class="col-sm-8 col-md-12 col-lg-10">
                        <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678032702/tailors-thimble-images/services-wedding_xmkwkh.webp" 
                        class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Smiling Couple in Wedding Attire">
                    </div>
                    <div class="col-sm-4 col-md-12 col-lg-10">
                        <p class="service-caption text-md-center">Bridal Dresses & Grooms' Suits</p>
                    </div>
                </div>
                <div class="d-flex d-md-block align-items-center">
                    <div class="col-sm-4 col-md-12 col-lg-10">
                        <p class="service-caption text-right text-md-center">Cocktail & Evening Dresses</p>
                    </div>
                    <div class="col-sm-8 col-md-12 col-lg-10">
                        <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678032693/tailors-thimble-images/services-cocktail_bshvp0.webp" 
                        class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Lady in Evening Attire">
                    </div>
                </div>
                <div class="d-flex d-md-block align-items-center">
                    <div class="col-sm-8 col-md-12 col-lg-10">
                        <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678032698/tailors-thimble-images/services-commu_jhgngj.webp" 
                        class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Girl in communion dress">
                    </div>
                    <div class="col-sm-4 col-md-12 col-lg-10">
                        <p class="service-caption text-md-center">Children's Occasion Wear</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-container">
            <div class="col-sm-12 col-md-10 d-md-flex col-lg-10 m-auto">
                <div class="d-flex d-md-block align-items-center">
                    <div class="col-sm-4 col-md-12 col-lg-10">
                        <p class="service-caption text-right text-md-center">Formal Suits & Evening Wear</p>
                    </div>
                    <div class="col-sm-8 col-md-12 col-lg-10">
                        <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678123071/tailors-thimble-images/services-evening_t25i7i.webp" 
                        class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Smiling Couple in Formal Attire">
                    </div>
                </div>
                <div class="d-flex d-md-block align-items-center">
                    <div class="col-sm-8 col-md-12 col-lg-10">
                        <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678123919/tailors-thimble-images/services-costume_hbxylc.webp" 
                        class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Couple in Fancy Dress">
                    </div>
                    <div class="col-sm-4 col-md-12 col-lg-10">
                        <p class="service-caption text-md-center">Costumes & Fancy Dress</p>
                    </div>
                </div>
                <div class="d-flex d-md-block align-items-center">
                    <div class="col-sm-4 col-md-12 col-lg-10">
                        <p class="service-caption text-right text-md-center">Graduation Robes</p>
                    </div>
                    <div class="col-sm-8 col-md-12 col-lg-10">
                        <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678123925/tailors-thimble-images/services-grad_i8heve.webp" 
                        class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Man in graduation gown">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-container">
    <div class="col-sm-12 col-md-10 text-center m-auto">
        <h2 id="process">How our service works</h2>
        <div class="col d-md-flex text-md-left align-items-center">
            <div class="col-md-6">
                <p>The process for each garment usually takes between 3-4 weeks from 
                    the first consultation to the last fitting.  Prices vary depending 
                    on the complexity of the design and the fabrics chosen. The Master Tailor will meet you in person at least 5 times throughout the 
                    stages of the process. 
                </p>
            </div>
            <div class="col-md-6">
                <p class="highlight text-center">
                    We would urge you to book your consultation at least
                    6 months in advance to avoid disappointment!      
                </p>
            </div>
        </div> 
        <div class="mt-2 mb-4">
            <a role="button" class="btn btn-lg btn-link btn--more" 
                href="{% url 'about-page' %}#process">More info on our Bespoke Process here
                <i class="fa-solid fa-chevron-right"></i>
            </a> 
        </div> 
    </div>
</div>
<div class="container cta-container cta--about-img mt-4 mb-4">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col">
            <div class="cta-txt">
                <div class="container text-light text-center">
                    <h2 class="mb-4">The Perfect Fit</h2>
                    <p class="lead mb-3">For all your occasions</p>
                    <a class="btn btn-lg btn-secondary mt-3" role="button" href="{% url 'appointments' %}">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}