{% extends 'base.html' %}
{% block content %}
<div class="container section-container">
    <div class="row">
        <div class="col-12">
            <div class="text-center col-md-10 m-auto">
                <h1>Our Services</h1>
                <p>All our garments are uniquely tailored for your precise measurements, 
                    lifestyle and personality.  We cater for all occasions and for 
                    both male and female clientele.
                </p>
            </div>
            <div class="row section-container">
                <div class="col-12 d-md-flex col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <div class="d-flex align-items-center d-md-block">
                        <div class="col-sm-8 col-md-12 col-lg-10">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678032702/tailors-thimble-images/services-wedding_xmkwkh.webp" 
                            class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Smiling Couple in Wedding Attire">
                        </div>
                        <div class="col-sm-4 col-md-12 col-lg-10">
                            <p class="service-caption text-md-center">Bridal Dresses & Grooms' Suits</p>
                        </div>
                    </div>
                    <div class="d-flex d-md-block align-items-center">
                        <div class="col-sm-4 col-md-12 col-lg-10">
                            <p class="service-caption text-right text-md-center">Cocktail & Evening Dresses</p>
                        </div>
                        <div class="col-sm-8 col-md-12 col-lg-10">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678032693/tailors-thimble-images/services-cocktail_bshvp0.webp" 
                            class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Lady in Evening Attire">
                        </div>
                    </div>
                    <div class="d-flex d-md-block align-items-center">
                        <div class="col-sm-8 col-md-12 col-lg-10">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678032698/tailors-thimble-images/services-commu_jhgngj.webp" 
                            class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Girl in communion dress">
                        </div>
                        <div class="col-sm-4 col-md-12 col-lg-10">
                            <p class="service-caption text-md-center">Children's Occasion Wear</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-12 d-md-flex col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <div class="d-flex d-md-block align-items-center">
                        <div class="col-sm-4 col-md-12 col-lg-10">
                            <p class="service-caption text-right text-md-center">Formal Suits & Evening Wear</p>
                        </div>
                        <div class="col-sm-8 col-md-12 col-lg-10">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678123071/tailors-thimble-images/services-evening_t25i7i.webp" 
                            class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Smiling Couple in Formal Attire">
                        </div>
                    </div>
                    <div class="d-flex d-md-block align-items-center">
                        <div class="col-sm-8 col-md-12 col-lg-10">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678123919/tailors-thimble-images/services-costume_hbxylc.webp" 
                            class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Couple in Fancy Dress">
                        </div>
                        <div class="col-sm-4 col-md-12 col-lg-10">
                            <p class="service-caption text-md-center">Costumes & Fancy Dress</p>
                        </div>
                    </div>
                    <div class="d-flex d-md-block align-items-center">
                        <div class="col-sm-4 col-md-12 col-lg-10">
                            <p class="service-caption text-right text-md-center">Graduation Robes</p>
                        </div>
                        <div class="col-sm-8 col-md-12 col-lg-10">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1678123925/tailors-thimble-images/services-grad_i8heve.webp" 
                            class="service-img img-fluid shadow-sm mb-3 mb-md-0" alt="Man in graduation gown">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col text-center">
            <h2 id="process">Tailor's Thimble Bespoke Process</h2>
            <div class="row">
                <div class="col d-md-flex text-md-left">
                    <div class="col-md-6">
                        <p>The process for each garment usually takes between 3-4 weeks from 
                            the first consultation to the last fitting.  Prices vary depending 
                            on the complexity of the design and the fabrics chosen. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p> Joe will need to meet you in person at least 5 times throughout the 
                            stages of the process.  Below is a list of the stages and meetings
                            required to complete your Bespoke garment.   
                        </p>
                    </div>
                </div> 
            </div>  
        </div>
    </div>
    <div class="highlight">
        <p class="text-center"><strong>We would urge you to book your consultation 
            at least 6 months in advance to avoid disappointment!</strong>
        </p>
    </div>
    <div class="row section-container">
        <div class="mt-4 col-sm-12 col-md-4 text-center text-md-left">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="consultation" data-toggle="list" href="#list-con" role="tab" aria-controls="consultation">Consultation</a>
              <a class="list-group-item list-group-item-action" id="details-and-design" data-toggle="list" href="#list-dd" role="tab" aria-controls="details-and-design">Details & Design</a>
              <a class="list-group-item list-group-item-action" id="fabrics" data-toggle="list" href="#list-fab" role="tab" aria-controls="fabrics">Fabrics</a>
              <a class="list-group-item list-group-item-action" id="first-fitting" data-toggle="list" href="#list-ff" role="tab" aria-controls="first-fitting">First Fitting</a>
              <a class="list-group-item list-group-item-action" id="second-fitting" data-toggle="list" href="#list-sf" role="tab" aria-controls="second-fitting">Second Fitting</a>
              <a class="list-group-item list-group-item-action" id="pickup" data-toggle="list" href="#list-pu" role="tab" aria-controls="pickup">Pick Up</a>
            </div>
        </div>
        <div class="mt-4 col-sm-12 col-md-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active align" id="list-con" role="tabpanel" aria-labelledby="consultation">
                    <div class="d-lg-flex align-items-center mt-lg-4">
                        <div class="offset-2 offset-lg-0 col-lg-6">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677794467/tailors-thimble-images/consultation500x357_x3gaao.webp"
                            alt="Joe chatting to a customer in the workshop" class="process-img">
                        </div>
                        <p class="process-txt text-justify col-lg-6 pl-lg-0">
                            A no-strings-attached meeting, where you can chat with the Master 
                            Tailor about the requirements for your Bespoke garment. Joe will 
                            talk you through the process and give you an approximation of dates 
                            and price for your finished garment.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-dd" role="tabpanel" aria-labelledby="details-and-design">
                    <div class="d-lg-flex align-items-center mt-lg-4">
                        <div class="offset-2 offset-lg-0 col-lg-6">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677794470/tailors-thimble-images/details_design500x357_ijarpt.webp"
                            alt="Joe taking customer's measurements" class="process-img">
                        </div>
                        <p class="process-txt text-justify col-lg-6 pl-lg-0">
                            Bring your ideas and Joe will start the unique design process with you.  
                            He will get to know you and your needs and take your measurements.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-fab" role="tabpanel" aria-labelledby="fabrics">
                    <div class="d-lg-flex align-items-center mt-lg-4">
                        <div class="offset-2 offset-lg-0 col-lg-6">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677794479/tailors-thimble-images/fabrics500x357_roc5ql.webp"
                            alt="Different textures, colours and patterns of fabrics" class="process-img">
                        </div>
                        <p class="process-txt text-justify col-lg-6 pl-lg-0">
                            You will meet with Joe and together visit the textile store in search 
                            for the fabrics he will be cutting for your garment. 
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-ff" role="tabpanel" aria-labelledby="first-fitting">
                    <div class="d-lg-flex align-items-center mt-lg-4">
                        <div class="offset-2 offset-lg-0 col-lg-6">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677794488/tailors-thimble-images/firstfitting500x357_ywgnds.webp"
                            alt="Joe marking and cutting fabric" class="process-img">
                        </div>
                        <p class="process-txt text-justify col-lg-6 pl-lg-0">
                            Joe will have cut your fabric and started working on it at this stage.  
                            He will have a basic shape on your garment which you will get to try out. 
                            You will get to see it taking form as he works on it.   
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-sf" role="tabpanel" aria-labelledby="second-fitting">
                    <div class="d-lg-flex align-items-center mt-lg-4">
                        <div class="offset-2 offset-lg-0 col-lg-6">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677794494/tailors-thimble-images/secondfitting500x357_k23rzk.webp"
                            alt="Joe marking the garment on the customer" class="process-img">
                        </div>
                        <p class="process-txt text-justify col-lg-6 pl-lg-0">
                            At this stage the garment will have taken shape and Joe will get you 
                            to try it on and move around in order to make sure it fits you well 
                            and you feel comfortable in it. His keen eye will spot any quick 
                            alterations that need to be made.     
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-pu" role="tabpanel" aria-labelledby="pickup">
                    <div class="d-lg-flex align-items-center mt-lg-4">
                        <div class="offset-2 offset-lg-0 col-lg-6">
                            <img src="https://res.cloudinary.com/aperlae/image/upload/q_auto/v1677794500/tailors-thimble-images/pickup500x357_vf4r7s.webp"
                            alt="Cutomer wearing the fully finished bespoke suit" class="process-img">
                        </div>
                        <p class="process-txt text-justify col-lg-6 pl-lg-0">
                            This is the stage where you get to try on the finished bespoke garment.  
                            Joe will have worked on the details before this final appointment and 
                            will make sure you are 100% happy with the finished product. Any small 
                            alterations will be done before you take it home.       
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container cta-container cta--about-img mt-4 mb-4">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col">
            <div class="cta-txt">
                <div class="container text-light text-center">
                    <h2 class="mb-4">The Perfect Fit</h1>
                    <p class="lead mb-3">For all your occasions</p>
                    <a class="btn btn-lg btn-secondary mt-3" role="button" href="{% url 'appointments' %}">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}